footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer h5 {
  font-size: 1rem;
}
.contactContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  justify-content: center;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.iconContainer i {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 1rem;
}
.iconContainer i:hover {
  color: #fff;
}

@media screen and (min-width: 724px) {
  footer {
    flex-direction: row;
    padding: 0 3rem;
    justify-content: space-between;
  }
  .iconContainer {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 724px) {
  footer h5 {
    font-size: 1.5rem;
  }
  .iconContainer {
    margin-top: 1.5rem;
  }
}
