.homePageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.videoContainer {
  width: 80%;
  height: auto;
}

@media screen and (min-width: 724px) {
  .videoContainer {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .videoContainer {
    width: 60%;
  }
}
